# Backend config variables
PORT=3000
DB_HOST=127.0.0.1
DB_USER=DATABASE_USER_EXAMPLE
DB_PASSWORD=SECURE_PASSWORD_EXAMPLE
DB_NAME=DATABASE_NAME_EXAMPLE
JWT_SECRET=JWT_SECRET_KEY
OPENAI_API_KEY=YOUR_DEFAULT_OPENAI_API_KEY
ENCRYPTION_KEY=32_BYTE_KEY_IN_BASE64_OR_64_CHAR_HEX

# Email Configuration
SMTP_HOST=smtp.gmail.com # just change this if you use a different email provider
SMTP_PORT=587 # most common port
SMTP_USER=EXAMPLE_USER
SMTP_PASS=EXAMPLE_PASSWORD